*.bak
*.backup
*.out
*.pdf
*.lof
*.bbl
*.brf
*.idx
*.log
*.lot
*.toc
*.dvi
*.aux
*.fls
.*.sw[a-z]
*.un~
Session.vim
.project
.texlipse
.vscode
.kile*
*.gz
tmp
*~
*.nlo
*.nls
.settings
*.blg
*.ilg
*.pdf
/tmp
/obj
blockchain/crypto-config/
tls/crypto-config/
.externalToolBuilders/
*.fdb_latexmk
*.rnd
*.priv
*.pub
*.tx
*.block
*.sql
*.csv
*.stats
